<style>
  #top-container {
    position: fixed;
    top: 0px;
    z-index: 10000;
    width: 100%;
  }

  .button-container {
    padding: 9px 0 10px;
  }
   
  #scrollable-list {
    display:block;
    padding-top: 115px;
    margin-inline: 6px;
  }

  #progress-spinner-container{
    padding-top: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

</style>

<div id="top-container">
  <app-header [title]="title"></app-header>
  <div fxLayout="row" fxLayoutAlign="center start" style="background-color: white;">
    <app-dog-breed-button class="button-container" (dogBreedListRequested)="onListRequested()"></app-dog-breed-button>
  </div>
</div>
<div id="progress-spinner-container" *ngIf="isLoading">
  <mat-progress-spinner class="progress-spinner" mode="indeterminate" [diameter]="25"></mat-progress-spinner>
</div>
<div id="scrollable-list">
  <app-dog-breed-list  [dogBreedList]="dogBreedList"></app-dog-breed-list>
</div>
