<style>
  #top-container {
    position: fixed;
    top: 0px;
    z-index: 10000;
    width: 100%;
  }

  .button-container {
    padding: 9px 0 10px;
  }
   
  #scrollable-list {
    display:block;
    padding-top: 115px;
    margin-inline: 6px;
  }
</style>

<div id="top-container">
  <app-header [title]="title"></app-header>
  <div fxLayout="row" fxLayoutAlign="center start" style="background-color: white;">
    <app-dog-breed-button class="button-container" (dogBreedListRequested)="onListRequested()"></app-dog-breed-button>
  </div>
</div>
<div id="scrollable-list">
  <app-dog-breed-list  [dogBreedList]="dogBreedList"></app-dog-breed-list>
</div>
